.floating-topic {
    color: #ff4500aa;
    background: none !important;
    border: none !important;
    position: absolute;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: Impact, fantasy;
    cursor: pointer;
    animation-name: topicMovement;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@media (max-width: 767px) {
    .floating-topic {
        font-size: 1.5rem;
    }
}

@keyframes topicMovement {
    50% {
        transform: scale(0.95, 1) translate(0, 15px) rotate(-1deg);
    }
}
