.title {
    display: flex;
    color: #ff4500;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.add {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Impact, fantasy;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: large;
}
.home {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Impact, fantasy;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    font-size: large;
}
.add:hover {
    background-color: #ff0000;
}
